extends layout

block content
  h1= title
  
  ul
    each author in author_list
      li 
        span.link(data-link=author.url) #{author.name} 
        |  (#{author.formatted_date_of_birth} - #{author.formatted_date_of_death})

    else
      li There are no authors.
